NODE_ENV=development
PORT=8000

DATABASE_URL="postgresql://postgres:omm123@localhost:5433/university_mis"

JWT_SECRET=

JWT_REFRESH_SECRET=

JWT_EXPIRES_IN=15m

REFRESH_TOKEN_EXPIRES_IN=7d

EMAIL_HOST=

EMAIL_PORT=

EMAIL_USER=

EMAIL_PASS=

AWS_ACCESS_KEY=

AWS_SECRET_KEY=

AWS_BUCKET=